-# views/console.haml
!!! 5
%head
  %title Monster Catcher Online
  
  %link{ :rel => "stylesheet", :href => "/stylesheets/console.css", :type => "text/css", :media => "all" }
  
  %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" }
  %script{ :src => "/scripts/console.js" }
  
%body
  #console
    %ul#console-output
    %form#console-input{ :action => '/' }
      %label.caret &gt;
      %input#input-field
    %p
      = '-----'
      %br
      Created by
      %a{ :href => "http://sleepingkingstudios.com" } Sleeping King Studios
